#d3-table {
  width: 100%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-size: 0.7rem;
}

.value {
  padding: 7px;
  min-width: 35px;
}

.value::after {
  font-size: 8px;
  float: right;
}

.up::after {
  content: url(icons/up.svg);
  transform: rotate(180deg);
}

.down::after {
  content: url(icons/down.svg);
}

.headings {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.man-row {
  background-color: rgba(255, 200, 0, 0.1);
  border-top: solid black 5px;
}

.woman-row {
  background-color: rgba(0, 255, 200, 0.1);
  margin-bottom: 10px;
}
